@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: white;
    --bg2: #fbfafa;
    --bg-orange: #ffc351;
    --fg: #3d4f5c;
    --header-height: 5rem;
    --orange: #fb8958;
    --cyan: #46b8c8;
    --logo: #141416;
  }
  .dark {
    --bg: #2b2b2b;
    --bg2: #202124;
    --fg: #fafafa;
    --logo: #fafafa;
  }
  html {
    scroll-behavior: smooth;
  }
}
